// 状态栏
.status {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
	z-index: 900; 
}

.status-bg {
    width: 100%;
}

.status-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
}
.status-title {
    color: #FFFFFF;
    font-family: PingFangSC;
    flex: 1;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.status-del{
	width: 10%;
	color: #FFFFFF;
	font-family: PingFangSC;
	flex: 1;
	font-weight: 400;
	font-size: 12px;
	text-align: right;
	padding-right: 3%;
	margin-right: 10rpx;
}
.icon {
    width: 28rpx;
    height: 28rpx;
}

.icon-big {
    width: 55rpx;
    height: 55rpx;
}

.icon-small {
    width: 25rpx;
    height: 25rpx;
}
.more-icon{
	padding-right: 40rpx;
	.icon {
	    width: 7rpx;
	    height: 36rpx;
	}
	}
.back-icon {
    position: absolute;
    left: 5%;
}
.titleicon {
				image {
					padding-left: 10rpx;
					padding-right: 20rpx;
					width: 20rpx;
					height: 20rpx;
					vertical-align:middle;
				}
			}
.confirm-btn {
	 margin-right:20rpx;
				button {
					margin: 0 10rpx;
					padding: 5rpx 10rpx;
					width: 200rpx;
					height: 90rpx;
					font-size: 12px;
					display:inline;
				}
			}			
.status-search {
    width: 95%;
    background: #ffffff;
    position: absolute;
    bottom: 25rpx;
    border-radius: 30px;
    .search-wrap {
        padding: 25rpx 35rpx;
        display: flex;
    }
    .search-wrap-qr {
        display: flex;
        align-items: center;
        margin: 0 15rpx;
    }
    .search-wrap-input {
        width: 60%;
        text-align: right;
    }
}

.text-red {
    color: red;
    margin: 0 10rpx;
}

// main内容
.main {
    width: 100%;
    color: #4d4d4d;
    .main-wrap {
        padding: 160rpx 23rpx 0 23rpx;
        background: #f5f5f5;
        display: flex;
        flex-direction: column;
        .main-wrap-contetnt {
            padding: 0 26rpx 50rpx 26rpx;
            background: #ffffff;
            border-radius: 15px;
            margin-bottom: 15rpx;
            .main-wrap-contetnt-item {
                width: 100%;
                .main-wrap-contetnt-item-title {
                    display: flex;
                    border-bottom: 1px solid #e7e8eb;
                    padding: 40rpx 0 20rpx 0;
                    .main-wrap-contetnt-item-title-number {
                        width: 10%;
                        display: flex;
                        align-items: center;
						.title-number{
							align-items: center;
							position: absolute;
							margin-left: 8px;
							padding-bottom:5px;
							font-size: 14px;
							color: #FFFFFF;
							// z-index: 999;
						}
                    }
                    .main-wrap-contetnt-item-title-text {
                        //margin-left: 15rpx;
                        font-family: PingFangSC-Semibold;
						font-weight: 600;
                        font-size: 14px;
                        color: #4785F3;
                        width: 80%;
                    }
                    .main-wrap-contetnt-item-title-del {
                        display: flex;
                        justify-content: flex-end;
                        width: 10%;
                        align-items: center;
                    }
                }
                .main-wrap-contetnt-item-field {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
					align-items: center;
                    padding-top: 40rpx;
                    padding-bottom: 20rpx;
                    border-bottom: 1px solid #e7e8eb;
                    .main-wrap-contetnt-item-field-name {
                        display: flex;
                        font-family: PingFangSC-Heavy;
						font-weight: 600;
                        font-size: 14px;
                        color: #4D4D4D;
                        .main-wrap-contetnt-item-field-name-icon {
                            margin-left: 20rpx;
                        }
                    }
                    .main-wrap-contetnt-item-field-value {
                        text-align: right;
                        color: #757575;
						.text{
							width:200rpx;
						}
                        .picker {
                            display: flex;
							.uni-input{
								padding: 0px;
							}
                            .dextrad-icon {
                                margin-left: 10rpx;
                            }
                        }
                        .grade {
                            .grade-item {
                                width: 100%;
                                display: flex;
                                margin-bottom: 25rpx;
                                .grade-item-name {
                                    font-family: PingFangSC-Medium;
                                    font-size: 12px;
                                    color: #6C6C6C;
                                }
                                .grade-item-stars {
                                    display: flex;
                                    .grade-item-stars-star {
                                        margin: 0 30rpx;
                                    }
                                }
                            }
                        }
						
						display: flex;
						align-items: center;
						.main-wrap-contetnt-item-field-value-icon {
							display: flex;
						    margin-left: 20rpx;
						}
                    }
                }
				.no-bottom{
					border-bottom: 0;
				}
				.field-nobottom{
					border-bottom: 0;
					margin-bottom: -40rpx;
				}
            }
        }
    }
}
.editor-title {
		.img {
			line-height: 100rpx;
			image {
				width: 12upx;
				height: 12upx;
				vertical-align: middle;
			}
		}
		text {
			margin-left: 14upx;
			font-size: 32upx;
			font-family: PingFang SC;
			font-weight: 600;
			color: #4d4d4d;
		}
	}
//按钮
.submits {
    margin-top: 40rpx;
    margin-bottom: 40rpx;
    button {
        width: 320rpx;
        height: 88rpx;
		font-size: 16px;
		font-family: PingFang SC;
        &.add-btn {
            background-color: #F05E57;
        }
        &.submit-btn {
            background-color: #4684EA;
        }
		&.other-btn {
			width: 260rpx;
			height: 76rpx;
            background-color: #EAA346;
			margin-bottom: 134rpx;
        }
		 &.save-btn{
			 width: 480rpx;
			  background-color: #4684EA;
		 }
    }
}
//列表
.list {
		 padding-top: 280rpx;
		.list-text {
			font-family: PingFang SC;
			font-size: 24rpx;
			color: #7A7A7A;
		}
	
		.l-right {
			margin-left: 594rpx;
			padding-bottom: 14rpx;
			margin-top: -50rpx;
		}
	
		.l-left {
			width: 50%;
			padding-left: 28rpx;
			padding-top: 25rpx;
			padding-bottom: 14rpx;
		}
		
		.data__wrapper {
			padding: 0 0 0 20rpx;
		}
		
	}
	.takePhotoList{
		padding: 30rpx 30rpx 120rpx;
		display:flex;
		align-items:center;
		justify-content:space-between;
		.takephotoItem{
			background: white;
			border-radius: 22rpx;
			height:216rpx;
			width:216rpx;
			margin-right:24rpx;
			display:flex;
			justify-content:center;
			align-items:center;
			.img {
				width: 53rpx;
				height: 53rpx;
				vertical-align:middle;
			};
	}
}

.card-cell-last {
	border-bottom: 0rpx;
}

// 耳牌号弹出框
.popup-search {
	.popup-search-item {
		height: 20%;
		padding: 0 26rpx;
		
		.popup-search-item-field {
		    width: 100%;
		    display: flex;
		    justify-content: space-between;
		    padding-top: 40rpx;
		    padding-bottom: 20rpx;
		    border-bottom: 1px solid #e7e8eb;
		    .popup-search-item-field-name {
		        display: flex;
		        font-family: PingFangSC-Heavy;
				font-weight: 600;
		        font-size: 14px;
		        color: #4D4D4D;
		        .popup-search-item-field-name-icon {
		            margin-left: 20rpx;
		        }
		    }
		    .popup-search-item-field-value {
				display: flex;
				align-items: center;
		        text-align: right;
		        color: #757575;
				.text{
					width:200rpx;
				}
		        .picker {
		            display: flex;
					.uni-input{
						padding: 0px;
					}
		            .dextrad-icon {
		                margin-left: 10rpx;
		            }
		        }
				.popup-search-item-field-value-icon {
					display: flex;
				    margin-left: 20rpx;
				}
		    }
		}
	}
	
	// 项列表
	.search-list {
		box-sizing: border-box;
		height: 80%;
		padding: 0 26rpx;
		
		.search-list-item {
			height: 82rpx;
			display: flex;
			align-items: center;
			
			border-top: 2rpx solid #e7e8eb;
			margin-top: -2rpx;// 解决边框重合
			
			.search-list-item-text {
				margin-left: 26rpx;
				
				font-family: "PingFang-SC-Regular";
				font-size: 28rpx;
			}
		}
	}
}


